spring:
  application:
    name: bookstore
  output:
    ansi:
      enabled: always
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5001/postgres}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop

server:
  port: 5000

logging:
  pattern:
    console: "%clr(%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level %logger{1} - [%M] %m%wEx%n)"